<form ng-submit="saveNote()">
  <p>
    <input
      ng-model="note.title"
      type="text"
      name="title"
      id="note_title"
      placeholder="Title your note">
  </p>
  <p>
    <textarea
      ng-model="note.body_html"
      name="body_html"
      placeholder="Just start typing..."
      ></textarea>
  </p>
  <div class="form-actions">
    <input
      type="submit"
      name="commit"
      value="{{ note._id ? 'Update Note' : 'Create Note' }}"
      class="btn btn-default">
    <a ng-show="note._id" ng-click="deleteNote()"><i class="fa fa-trash-o"></i></a>
  </div>
</form>

<flash-message
  duration="3000"
></flash-message>
