<form ng-submit="vm.save()">
  <p>
    <input
      ng-model="vm.note.title"
      type="text"
      name="title"
      id="note_title"
      placeholder="Title your note"
      focus-on>
  </p>
  <p>
    <text-angular
      ng-model="vm.note.body_html"
      name="body_html"
      placeholder="Just start typing..."
      ta-toolbar="[
        ['bold', 'italics', 'underline'],
        ['ul', 'ol', 'indent', 'outdent'],
        ['insertLink'],
        ['html']
      ]"
      ></text-angular>
  </p>
  <div class="form-actions">
    <input
      type="submit"
      name="commit"
      value="{{ vm.note._id ? 'Update Note' : 'Create Note' }}"
      class="btn btn-default">
    <a ng-show="vm.note._id" ng-click="vm.destroy()"><i class="fa fa-trash-o"></i></a>
  </div>
</form>

<flash-message
  duration="3000"
  show-close="false"
></flash-message>
<span us-spinner="{top:100}"></span>
